
@{
    ViewData["Title"] = "Data Not Found";
}

<div class="row">
    <div class="col-md-10">
        &nbsp;
        <div class="alert alert-danger">
            Data Not Found
        </div>

    </div>
</div>